.div-loading{
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(22, 29, 36, 0.822);
    color: aliceblue;
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: 600;
    font-size: medium;
    z-index: 9;
    width: 100%;
    height: 100%;
}

.swal2-icon.swal2-question{
    font-size: 22px !important;
}

.swal2-cancel , .swal2-confirm { 
    margin-top:0px !important;
}

.typing-animation {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #ebebeb;
    border-radius: 50%;
    margin-right: 5px;
    animation: typing 1s infinite;
}

@keyframes typing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}